<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students Records | LC Academy</title>
</head>
<body>
    <form action="/add-new-item/" method="post">
        <h3>Student Information</h3>
        Product name<br>
        <input type="text" name="name"><br>
        Brand name<br>
        <textarea name="brand"></textarea><br>
        Available sizes<br>
        <input type="text" name="size"><br>
        Product ID<br>
        <input type="text" name="id"><br>
        Product photo<br>
        <input type="text" name="image"><br>
        <input type="submit" value="submit"><br>
    </form>
    <h2><a href = "/show-items/">show records</a></h2>
</body>
</html>
