<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Item-records | SNEAK FREAK</title>
  </head>
  <body>
    <form
      action="https://final-project2021.herokuapp.com/add-new-item/"
      method="post"
      class="register-group"
    >
      <h3>Add new Information</h3>
      Product name<br />
      <input type="text" name="name" /><br />
      Brand name<br />
      <textarea name="brand"></textarea><br />
      Available sizes<br />
      <input type="text" name="size" /><br />
      Product ID<br />
      <input type="text" name="id" /><br />
      Product photo<br />
      <input type="text" name="image" /><br />
      <input type="submit" value="Add item" /><br />
    </form>
    <h2>
      <a href="https://final-project2021.herokuapp.com/show-items/"
        >show items</a
      >
    </h2>
    <h2>
      <a href="https://final-project2021.herokuapp.com/show-users/"
        >show users</a
      >
    </h2>

  </body>
</html>
